<!DOCTYPE html>
<html>
  <head>
    <title>Date</title>
  </head>

  <body>
    <h1>Today</h1>
    <% t = DateTime.now %>
    <p><%= DateTime.now.strftime("The date is %A, %B %w, %Y") %></p>
    <p><%= DateTime.now %></p>
  </body>
</html>
