<!DOCTYPE html>
<html>
  <head>
    <title>Date</title>
  </head>

  <body>
    <h1>Today</h1>
    <% t = DateTime.now %>
    <p>The date is <%= DateTime.now.strftime("Today is %A") %> </p>
  </body>
</html>
